body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-section {
    margin-bottom:40px;
}

.unauthorized-container {
    text-align: center;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.error-code {
    font-size: 2.6em;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}

.unauthorized-container h2 {
    font-size: 2em;
    color: #333;
}

.unauthorized-container p {
    color: #666;
}

.back-to-dashboard {
    display: inline-block;
    padding: 16px 24px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.back-to-dashboard:hover {
    background-color: #0056b3;
}