.required {
    color: red;
}
.optional {
    color: red;
}
.account-form label {
    text-align: left;
    display: block;
}
.account-form input, .account-form textarea {
    width: 100%;
    box-sizing: border-box;
}
.status-approved {
    color: #45A049;
}
.status-pending {
    color: #2471a3;
}
.status-rejected {
    color: #e53935;
}
.status-inactive {
    color: lightgray;
}
.action-buttons button {
    border-radius: 80px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}
.edit-btn {
    background-color: #007bff;
    color: white;
}
.edit-btn:hover {
    background-color: #0056b3;
}
.status-btn {
    background-color: #e53935;
    color: white;
}
.status-btn:hover {
    background-color: #d32f2f;
}
.modal-buttons button {
    border-radius: 80px;
    border: none;
    padding: 10px 15px; /* Adjusted padding to be smaller */
    cursor: pointer;
    margin: 5px;
}
.approve-btn {
    background-color: #45A049;
    color: white;
}
.approve-btn:hover {
    background-color: #388E3C;
}
.pending-btn {
    background-color: #2471a3;
    color: white;
}
.pending-btn:hover {
    background-color: #1B4F72;
}
.reject-btn {
    background-color: #e53935;
    color: white;
}
.reject-btn:hover {
    background-color: #d32f2f;
}
.inactive-btn {
    background-color: lightgray;
    color: white;
}
.inactive-btn:hover {
    background-color: gray;
}
.cancel-btn {
    background-color: gray;
    color: white;
    border-radius: 80px;
    display: block;
    margin: 0 auto;
}
.cancel-btn:hover {
    background-color: #333;
}
.overlay-content {
    width: 600px; /* Increase modal width */
}
.modal-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modal-buttons.single-button {
    padding-top: 10px;
    margin-top: 10px;
}